@import "~huleos.css/scss/settings/settings.colors";
@import "~huleos.css/scss/tools/tools.rem";
@import "~huleos.css/scss/tools/tools.breakpoints";

@import url('https://fonts.googleapis.com/css?family=Nunito:200,400,600');

// GLOBAL
$body-font-family: 'Nunito', sans-serif;
$header-font-family: $body-font-family;
$header-font-weight: bold;

$global-radius: 5px;

// ABOUT
$about-text-color: #545454;
$about-bg-color: #f1f1f1;
